<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="/static/axios/axios.min.js"></script>
    <title>Upload Files</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-3 mt-3">
                    <h2 class="mb-3" style="font-weight: 300">Upload files</h2>
                    
                    <div class="form-group mb-3">
                        <div class="custom-file">
                            <input class="form-control" type="file" id="file_input" oninput="input_filename();" multiple>
                            <label for="file_input" class="form-label" id="file_input_label"></label>
                          </div>
                    </div>

                    <button onclick="upload('{{ request.url }}')" id="upload_btn" class="btn btn-primary">Upload file</button>
                    <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Uploading and Processing...
                    </button>
                    <button class="btn btn-secondary" id="cancel_btn" type="button">Cancel</button>
                </div>

                <div id="alert_wrapper"></div>
                <div id="extracted_data">
                    <a href="{{ url_for('download') }}">
                        <button id="dnld_btn" class="btn btn-primary invisible">Export to csv</button>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="static/app.js"></script>
    <script src="/static/bootstrap/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/static/bootstrap/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="/static/bootstrap/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>

